LOOPAD_ENV=local
LOOPAD_SERVICE_ID=ad-decision-api
LOOPAD_RUNTIME=go
LOOPAD_COMPUTE_TARGET=local
PORT=8080

LOOPAD_AURORA_HOST=localhost
LOOPAD_AURORA_PORT=15432
LOOPAD_AURORA_DATABASE=loopad
LOOPAD_AURORA_USERNAME=loopad
LOOPAD_AURORA_PASSWORD=loopad
LOOPAD_REDIS_URL=redis://localhost:16379
